@import url(https://fonts.googleapis.com/css?family=Lato);

body, p {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;    
    background-color: rgba(0, 0, 0, 0.02);
}
p{
    background-color: transparent;
}

a, a:hover {
  color: inherit;
  text-decoration: underline;

}

button {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.button-group li {
    padding-top: 3%;
}

.button-group a {
    color: rgba(0, 0, 0, 1);
    background-color: transparent;
}

.button-group a:hover {
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
}

.button-group {
    float: none;
}

@media only screen and (min-width: 40.063em) {
    .button-group {
        float: right;
    }
}

.namelogo {
    padding: 20px 10px 0px 10px;
}

@media only screen and (min-width: 40.063em) {
    .namelogo {
        padding-bottom: 20px;
    }
}

.namelogo h1 {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

@media only screen and (min-width: 40.063em) {
    .namelogo h1 {
        font-size: 16px;
        text-align: left;
    }
}

@media only screen and (min-width: 64.063em) {
    .namelogo h1 {
        font-size: 24px;
        text-align: left;
    }
}

.hero {
    background: url(../img/hackjam.jpg);
    background-size: cover;
    width: 100%;
    padding-top: 56.25%;
}

.intro-text {
    padding-top: 40%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

@media only screen and (min-width: 40.063em) {
    .intro-text {
        padding-top: 2 5%;
    }
}

@media only screen and (min-width: 64.063em) {
    .intro-text {
        padding-top: 18%;
    }
}

.intro-text p {
    font-family: 'Shadows Into Light', cu rsive;
    font-size: 44px;
}

.about img {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.work img:hover {
    opacity: 0.5;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s e ase;
    transition: 0.3s ease;
}

.work li {
    height: 140px;
    overflow: hidden;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(l eft, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradie nt(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    opacity: 0.8;
}

footer > p {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 0.8em;
}

footer a:hover {
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
}

h4 {
    text-align: center;
    margin: 20px;
    font-size: 40px;
    color: white;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.center {
    text-align: center;
}

.row {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.row > .row-narrow {
    max-width: 35rem;
}

.about {
    background-color: #7962A6;
    color: white;
}

.schedule {
    background-color: #C05F95;
    color: white;
}

.register {
    background-color: #66A4D5;
    color: white;
}

.faq {
    background-color: #78B188;
    color: white;
}

.faq .question {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 2em;

}

.mentoring {
    background-color: #EBC556;
    color: white;
}

#typeform {
  display: none;
  height: 500px;
}

#emus {
    position: fixed;
    display: block;
    z-index: 5;
    margin: 0 auto;
    top: 50%;
    left: 35%;
    text-align: center;
    border: none;
}

#emu-hint {
    font-size: 10px;
    color: rgba(0,0,0,0.6);
}

#twitter-feed {
    width: 100%;
    height: 50px;
    background-color: #dfa941;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: white; 
    cursor: pointer;
}

#twitter-banner {
   margin-top: 5px;
}

